body {
/*    font-family: 'Inconsolata', monospace;*/
    font-family: 'Abril Fatface', cursive;
    margin: 0px;
    padding: 0px;

    max-width: 1000px;
    width: 100vw;
    height: 100vh;

    /*display: flex;*/
    justify-content: center; /*horizontální vystředění*/
    align-items: center; /*vertikální vystředění*/
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='50px'><text x='0' y='15' fill='lightgrey' font-size='2vw'>₿</text></svg>");
}

.background {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    /*background-image: url(/icons/Logo3_small.png);*/
    background-size: contain;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: inset 0 0 0 10px orange;
}

.clockBlock {
    width: 100vw;
    height: 15vh;
    margin: 0px;
    padding: 0vh;
    display: inline-flex;
    align-items: center;
}

#clock {
    padding-top: 5vh;
    padding-right: 3vw;
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    font-size: 14vh;
    font-weight: bold;

    display: inline-flex;
    align-items: center;
    text-align: end;
}

.btcTextBlock {
    width: 100vw;
    height: 15vh;
    margin: 0px;
    padding: 0vh 0vw 0vh 4vw;
    display: inline-flex;
    align-items: center;
}

#btcText {
    width: auto;
    height: 100%;

    margin-left: 0; /*horizontální vystředění*/
    margin-right: auto; /*horizontální vystředění*/

    display: inline-flex;
    align-items: center;
}

.priceContainer {
    width: 100vw;
    height: 65vh;
    margin: 0px;
    padding: 0vh;
/*    display: inline-flex;*/
    align-items: center;
}

.btcPriceBlock {
    width: 100vw;
    height: 40vh;
    padding: 0vh;
    display: inline-flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 3vh;

}

#btcPrice {
    padding: 0vh 0vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    font-size: 33vh;

    display: inline-flex;
    align-items: center;
    text-align: center;


}

.btcChangeBlock {
    width: 100vw;
    height: 17vh;
    padding: 0vh;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
}

#btcChange {
    padding: 0vh 0vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15vh;
    font-weight: bold;

    display: inline;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#btcChangeBracelets {
    padding: 0vh 0vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15vh;
    font-weight: normal;

    display: inline;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    /*font-family: 'Dosis', sans-serif;*/
    /*letter-spacing: 0.11em;*/
    font-weight: bold;
}

.lastUpdatelock {
    width: 100vw;
    height: 4vh;
    margin: 0px;
    padding: 0vh 0vw 0vh 0vw;
    display: inline-flex;
    align-items: center;
}

#lastUpdate {
    padding: 0vh 2vw 0vh 0vw;
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    font-size: 3vh;
    color: darkgrey;

    display: inline-flex;
    align-items: center;
    text-align: end;
}
