<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">-->

    <!-- Own CSS -->
    <link rel="stylesheet" th:href="@{/styles/pricePageStyle.css}"/>

    <!-- Page Title -->
    <title th:utext="${currency} + ' Bitcoin price checker'"></title>

</head>

<body th:object="${bitcoinObject}">
    <div class="background">

        <div class="clockBlock">
            <span id="clock"/> <!--added by javascript-->
        </div>

        <div class="btcTextBlock">
            <img id=btcText src="icons/BTCtext.png">
            <!--<img id=btcText src="icons/Logo3_small.png">-->
            <!--<span th:text="' / '+*{currency}"></span>-->
        </div>

        <div class="priceContainer">
            <div class="btcPriceBlock">
                <span id="btcPrice" th:utext="'<strong>' + *{#numbers.formatInteger(actualPrice,0, 'COMMA')} + '' + *{currency} + '</strong>'"></li></strong>></span>
            </div>
            <div class="btcChangeBlock">
                <span id="btcChange" th:style="*{priceChangeSign == '+' ? 'color:limegreen' : 'color:orange'}"
                      th:utext="*{priceChangeSign == '+' ? '▲' : '▼'}
                      + *{#numbers.formatInteger(priceChange,0, 'NONE')} +'' + *{currency}"/>
                <span id="btcChangeBracelets" th:style="*{priceChangeSign == '+' ? 'color:limegreen' : 'color:orange'}"
                      th:utext="*{priceChangeSign == '+' ? '▲' : '▼'}
                      + *{priceChangePercentage} + '%'"/>
            </div>
            <div class="lastUpdatelock">
                <span id="lastUpdate" th:text="'Last price update: '+*{#temporals.format(lastUpdate,'HH:mm:ss')+' UTC'}"></span>
            </div>
        </div>

    </div>

</body>
<!-- Optional JavaScript -->
<script>
    // picture actual time in minutes
    var today = new Date();
    function minutes(today) {
        return (today.getMinutes() < 10 ? '0' : '') + today.getMinutes();
    }
    var timeInMinutes = today.getHours() + ":" + minutes(today);
    document.getElementById("clock").innerHTML = "🕑" + timeInMinutes;


    function updatePriceInfo() {
        var actualSec = new Date().getSeconds();
        console.log(actualSec);
        if (actualSec == 0 || actualSec == 30) {
            window.location.reload(false);
        }
    }

    setInterval(updatePriceInfo, 1000);
</script>
</html>